:root {
  --color-primary: #4d13d1;
  --color-secondary: #fbf8f3;
  --color-feature: #43b29e;
  --color-dark: #000;
  --color-light: #fff;
  --default-text-color: #4f4f4f;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--default-text-color);
}

.container {
  width: 80%;
  max-width: 114rem;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.grid {
  display: grid;
}

.header {
  background-color: var(--color-secondary);
  position: fixed;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.nav__menu {
  position: absolute;
  top: 100%;
  right: 0;
  text-align: right;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  background-color: transparent;
  width: 100%;
  background-color: transparent;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform .4s ease-in-out;
}

.nav-toggle:checked ~ .nav__menu {
  transform: scale(1, 1);
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: flex;
  /* height: 100%; */
  align-items: center;
  cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  background-color: var(--color-dark);
  height: .2rem;
  width: 2.5rem;
  border-radius: .2rem;
  display: block;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: .5rem;
}

.nav-toggle-label span::after {
  top: .5rem;
}

.nav__item {
  margin-bottom: .5rem;
}

.nav__link, .nav__access {
  color: var(--color-dark);
  opacity: 0;
  transition: opacity .15s ease-in-out;
}

.nav-toggle:checked ~ .nav__menu .nav__link, .nav__access {
  opacity: 1;
  transition: opacity .25s ease-in-out .25s;
}

@media screen and (max-width: 767px) {
  .header__rating {
    display: none;
  }
}

.header__hero {
  text-align: center;
}

.header__img-hero {
  width: 35rem;
}

.header__heading {
  color: var(--color-dark);
}

.btn {
  display: inline-block;
  border-radius: 3px;
}

.header__btn-box {
  margin-top: 1rem;
  text-align: center;
}

.header__btn {
  width: 100%;
  padding: 1.5rem 2rem;
  background-color: var(--color-primary);
  color: var(--color-light);
  text-align: center;
  font-size: 2rem;
  margin: 1.5rem 0;
}

.header__btn-inline {
  color: var(--color-primary);
  border-bottom: 1px solid ;
}